@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 29px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 17px;
  }

  p {
    font-size: 14px;
  }

  small {
    font-size: 12px;
  }

  /* NAV */
  nav .img,
  nav .img img {
    width: 136px;
    height: 44px;
  }

  /* START HEADER */
  #header .container {
    padding: 0 16px;
  }

  #header .row.main {
    padding: 32px 0 132px;
    gap: 16px;
  }

  #header .column.main {
    width: 100%;
    align-items: center;
    gap: 164px;
  }

  #header .column.hero {
    align-items: center;
    gap: 16px;
  }

  #header .column.hero h3 {
    text-align: center;
    font-size: 24px;
  }

  #header .column.hero small {
    width: 100%;
    text-align: center;
  }
  
  #header .row.main .img {
    position: absolute;
    bottom: -16px;
    right: -81px;
    z-index: -1;
  }

  #header .row.main .img,
  #header .row.main .img img {
    width: 303px;
    height: 386px;
  }

  #header .row.main .img img {
    top: auto;
    left: auto;
  }

  #header .column.main > a {
    padding: 8px;
  }

  #header .container > .img {
    z-index: -2;
  }
  /* END HEADER */

  /* START WARNING */
  #warning .container {
    padding: 64px 16px;
  }

  #warning .column.text p {
    width: 100%;
  }
  /* END WARNING */

  /* START IMAGINE */
  #imagine .container {
    padding: 64px 16px;
  }

  #imagine .column.main {
    gap: 64px;
  }

  #imagine .column.mid {
    width: 100%;
    gap: 16px;
  }

  #imagine .column.card {
    opacity: .90;
  }

  #imagine .column.items {
    padding: 16px;
  }

  #imagine .column.main > p:last-child {
    width: 100%;
  }

  #imagine .container > .img {
    top: auto;
    bottom: 0;
  }

  #imagine .container > .img::after {
    background: linear-gradient(
      180deg, 
      var(--color-white) 0%, 
      rgba(243, 228, 243, 0.00) 50%, 
      var(--color-white) 100%
    );
  }

  #imagine .container > .img, 
  #imagine .container > .img img {
    width: 320px;
    height: 549px;
    object-fit: cover;
    opacity: .8;
  }
  /* END IMAGINE */

  /* START REASONS */
  #reasons .column.lines {
    padding: 0 32px;
  }

  #reasons .column.title {
    padding: 0 16px;
  }

  #reasons .column.title p {
    width: 100%;
  }

  #reasons .column.main > p {
    padding: 16px;
  }

  #reasons .column.content {
    padding: 0 16px;
  }

  #reasons .column.content > p {
    width: 100%;
  }

  #reasons .row.cards {
    padding: 0 16px;
    flex-wrap: wrap;
    gap: 16px;
  }

  #reasons .row.cards .column.card {
    width: 100%;
  }

  #reasons .row.cards .column.card .row {
    padding: 8px;
    gap: 8px;
  }

  #reasons .row.cards .column.card .row i {
    font-size: 24px;
  }

  #reasons .row.cards .column.card .img,
  #reasons .row.cards .column.card .img img {
    width: 288px;
    height: 200px;
  }

  #reasons .row.cards .column.card p {
    text-align: center;
  }

  #reasons .column.cta {
    width: 100%;
  }

  #reasons .column.cta p {
    padding: 0 16px;
    width: 100%;
    max-width: 343px;
  }

  #reasons .column.cta a {
    padding: 8px;
  }
  /* END REASONS */

  /* START STRUCTURE */
  #structure .container {
    padding: 64px 16px;
  }

  #structure .column.lines {
    padding: 0 32px;
  }

  #structure .column.title p {
    padding: 0 16px;
    width: 100%;
  }

  #structure .column.content {
    width: 100%;
    gap: 16px;
  }

  #structure .row.item {
    flex-direction: column;
    gap: 16px;
  }

  #structure .row.item:last-child {
    flex-direction: column-reverse;
  }

  #structure .row.item:first-child p {
    text-align: left;
  }

  #structure .row.item .column.text {
    gap: 16px;
  }

  #structure .row.item .column.text ul li {
    font-size: 14px;
  }

  #structure .row.item .img, 
  #structure .row.item .img img {
    width: 288px;
    height: 288px;
  }

  #structure .column.cta small {
    width: 100%;
  }
  /* END STRUCTURE */

  /* START DONE */
  #done .container {
    padding: 164px 16px 32px;
  }

  #done .column.main {
    align-items: center;
  }

  #done .column.title {
    align-items: flex-start;
    z-index: 2;
  }
  
  #done .column.title h2 {
    text-align: left;
  }

  #done .column.text {
    width: 100%;
    z-index: 2;
  }

  #done .column.text p {
    text-align: left;
  }

  #done .column.text h6 {
    text-align: left;
  }

  #done .container > .img {
    top: -151px;
    right: -29px;
    bottom: auto;
  }

  #done .container > .img::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(
      180deg, 
      rgba(21, 0, 32, 0.00) 42.78%, 
      #150020 93.4%
    );
    content: '';
  }

  #done .container > .img,
  #done .container > .img img {
    width: 228px;
    height: 346px;
  }
  /* END DONE */

  /* START STEPS */
  #steps .container {
    padding: 64px 16px;
  }
  
  #steps .column.lines {
    padding: 0 16px;
  }

  #steps .column.title p {
    width: 100%;
  }

  #steps .row.cards{
    width: 100%;
    padding: 0;
    gap: 16px;
  }

  #steps .row.cards .column.card {
    width: 100%;
    background: linear-gradient(
      180deg, 
      rgba(188, 96, 186, 0.80) 0%, 
      rgba(243, 228, 243, 0.90) 100%
    );
    backdrop-filter: blur(1px);
  }

  #steps .img {
    top: auto;
    bottom: 0;
  }

  #steps .img::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: radial-gradient(
      101.53% 50% at 50% 50%, 
      rgba(243, 228, 243, 0.00) 62%, 
      var(--color-white) 100%
    ), linear-gradient(
      0deg, 
      rgba(243, 228, 243, 0.00) 75%, 
      var(--color-white) 100%
    ), linear-gradient(
      180deg, 
      rgba(243, 228, 243, 0.00) 37%, 
      var(--color-white) 97.8%
    ), linear-gradient(
      90deg, 
      rgba(243, 228, 243, 0.00) 33%, 
      var(--color-white) 97.49%
    );
    content: '';
  }

  #steps .img,
  #steps .img, #steps .img img {
    width: 320px;
    height: 584px;
  }
  /* END STEPS */

  /* START WITH */
  #with .column.title {
    padding: 0 16px;
  }

  #with .column.title p {
    width: 100%;
  }

  #with .column.content h6 {
    width: 100%;
    padding: 16px;
    background: linear-gradient(
      90deg, 
      var(--color-primary) 0%, 
      var(--color-primary-1) 50%, 
      var(--color-primary) 100%
    );
  }

  #with .row.items {
    padding: 0 16px;
    flex-direction: column;
    gap: 16px;
  }

  #with .row.items .column {
    width: 100%;
  }

  #with .row.items .column .row.item {
    width: fit-content;
    gap: 20px;
  }

  #with .row.items .column .row.item:last-child {
    flex-direction: row-reverse;
  }

  #with .row.items .column.left .row.item:first-child p,
  #with .row.items .column.right .row.item:first-child p {
    text-align: right;
  }

  #with .row.items .column.left p {
    text-align: left;
  }

  #with .row.items .column.right .row {
    flex-direction: row;
  }

  #with .row.items .column .row.item p {
    width: 100%;
  }

  #with .row.items .column .row.item .img,
  #with .row.items .column .row.item .img img {
    width: 136px;
    height: 136px;
  }

  #with .column.difference {
    gap: 32px;
  }

  #with .column.difference h6 {
    width: 100%;
    padding: 0 16px;
  }

  #with .column.difference .row.cards {
    padding: 0 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  #with .column.difference .row.cards .column.card {
    width: 100%;
  }
  /* END WITH */

  /* START KNOW */
  #know .column.title {
    padding: 0 16px
  }

  #know .column.title p {
    width: 100%;
  }

  #know .column.content {
    gap: 64px;
  }

  #know .column.content .row.cards { 
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  #know .column.content .row.cards .column.card {
    width: 100%;
    max-width: 343px;
    gap: 4px;
  }

  #know .column.content .row.cards .column.card .img,
  #know .column.content .row.cards .column.card .img img {
    width: 100%;
    height: 144px;
    object-fit: cover;
  }

  #know .column.content > p {
    width: 100%;
    padding: 0 16px;
  }
  /* END KNOW */

  /* START FEEDBACKS */ 
  #feedbacks .container {
    padding: 32px 16px 264px;
  }

  #feedbacks .row.main {
    flex-direction: column;
    gap: 32px;
  }

  #feedbacks .row.main p {
    width: 100%;
    text-align: center;
  }

  #feedbacks .column.carousel {
    width: 100%;
    height: 371px;
  }

  #feedbacks .row.imgs .carousel-item {
    width: 148px;
    height: 279px;
  }

  #feedbacks .row.imgs .carousel-item-2 {
    width: 198px;
    height: 371px;
    left: calc((288px/2) - (198px/2));
  }

  #feedbacks .row.imgs .carousel-item-1, 
  #feedbacks .row.imgs .carousel-item-3 {
    width: 148px;
    height: 279px;
  }

  #feedbacks .row.imgs .carousel-item-1 {
    left: -122px;
  }

  #feedbacks .row.imgs .carousel-item-3 {
    left: 262px;
  }

  #feedbacks .row.imgs .carousel-item:nth-child(n+4) {
    left: auto;
    right: 0;
  }
  
  #feedbacks .column.carousel::before,
  #feedbacks .column.carousel::after {
    background: none;
  }

  #feedbacks .container > .img {
    right: -32px;
  }

  #feedbacks .container > .img,
  #feedbacks .container > .img img {
    width: 288px;
    height: 375px;
  }
  /* END FEEDBACKS */

  /* START BENEFITS */
  #benefits .container {
    padding: 64px 16px;
  }

  #benefits .column.title p {
    width: 100%;
  }

  #benefits .row.cards {
    padding: 0 0 132px;
    gap: 16px;
  }

  #benefits .row.cards .column.card .row i {
    font-size: 24px;
  }

  #benefits .img-right, 
  #benefits .img-right img {
    width: 320px;
    height: 360px;
  }

  #benefits .img-right::after {
    background: linear-gradient(
      0deg, 
      rgba(243, 228, 243, 0.00) 74%, 
      var(--color-white) 95%
    );
  }
  /* END BENEFITS */

  /* START LEARN */
  #learn .column.main {
    gap: 208px;
  }

  #learn .column.lines {
    padding: 0 32px;
  }

  #learn .column.title {
    padding: 0 16px;
  }

  #learn .column.title p {
    width: 100%;
  }

  #learn .row.items {
    width: 100%;
    padding: 0 16px;
    gap: 16px;
  }

  #learn .row.items .row.item {
    width: 100%;
  }

  #learn .row.items .row.item i {
    font-size: 24px;
  }

  #learn .container > .img {
    top: 192px;
    left: -52px;
    bottom: auto;
    z-index: -1;
  }

  #learn .container > .img::after {
    width: 101%;
    height: 101%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg, 
      rgba(235, 208, 234, 0.00) 75%, 
      var(--color-white) 97%
    );
    content: '';
  }

  #learn .container > .img,
  #learn .container > .img img {
    width: 320px;
    height: 467px;
  }
  /* END LEARN */

  /* START SOCIAL */
  #social .column.main {
    gap: 232px;
  }

  #social .column.title p {
    width: 100%;
    padding: 0 16px;
  }

  #social .column.content {
    width: 100%;
    padding: 0 16px;
    gap: 64px;
  }


  #social .column.content .row.card {
    width: 100%;
    padding: 16px;
  }
 
  #social .container .img {
    top: 157px;
  }

  #social .container .img::after {
    background: linear-gradient(
      0deg, 
      rgba(243, 228, 243, 0.00) 66%, 
      var(--color-white) 94%
    ), linear-gradient(
      180deg, 
      rgba(243, 228, 243, 0.00) 69%, 
      var(--color-white) 97%
    );
  }

  #social .container .img,
  #social .container .img img {
    width: 320px;
    height: 487px;
    object-fit: cover;
  }
  /* END SOCIAL */

  /* START TEXT */
  #text .container {
    padding: 32px 16px 164px;
    background: linear-gradient(
      180deg, 
      #150020 0%, 
      rgba(21, 0, 32, 0.95) 53.4%, 
      rgba(156, 7, 7, 0.01) 100%
    );
  }

  #text p {
    width: 100%;
    text-align: center;
  }
  /* END TEXT */

  /* START PROBLEM */
  #problem .column.title {
    padding: 0 16px;
  }

  #problem .column.title p {
    width: 100%;
  }
  
  #problem .row.items {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 16px;
  }

  #problem .column.item {
    width: 100%;
  }

  #problem .column.item .img, 
  #problem .column.item .img img {
    width: 100%;
    height: 88px;
  }

  #problem .column.text p {
    width: 100%;
    padding: 0 16px;
  }
  /* END PROBLEM */

  /* START FORYOU */
  #foryou .column.title {
    padding: 0 16px;
  }

  #foryou .column.title p {
    width: 100%;
  }

  #foryou .column.items {
    width: calc(100% - 32px);
    padding: 16px 0;
  }

  #foryou .column.items .row.item {
    padding: 8px;
    gap: 8px;
  }

  #foryou .column.cards > p {
    padding: 16px;
  }

  #foryou .column.cards .row.cards {
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  #foryou .column.cards .row.card {
    width: 288px;
    gap: 16px;
  }

  #foryou .column.cards .row.card .img,
  #foryou .column.cards .row.card .img img {
    width: 61px;
    height: 61px;
  }

  #foryou .container > .img {
    top: 280px;
    left: -64px;
  } 

  #foryou .container > .img, 
  #foryou .container > .img img {
    width: 320px;
    height: 451px;
  }
  /* END FORYOU */

  /* START OFFER */
  #offer .column.title {
    padding: 0 16px;
  }

  #offer .row.cards {
    width: 100%;
    padding: 0 16px;
    align-items: center;
    flex-wrap: wrap;
  }

  #offer .row.cards .row.card {
    width: 100%;
  }

  #offer .row.cards .row.card h1 {
    top: -32px;
  }

  #offer .column.text {
    gap: 8px;
  }

  #offer .column.text p:first-child {
    padding: 16px;
  }

  #offer .column.text p:last-child {
    width: 100%;
    padding: 0 16px;
    text-align: center;
  }

  #offer .row.tables {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 16px;
  }

  #offer .row.tables .column.table {
    width: 100%;
  }

  #offer .row.tables .column.table .row.name {
    padding: 8px 0;
    gap: 16px;
  }

  #offer .row.tables .column.table .row.name .img, 
  #offer .row.tables .column.table .row.name .img img {
    width: 121px;
    height: 39px;
  }

  #offer .row.tables .column.table .row.name h4 {
    padding: 0 0 0 16px;
  }

  #offer .row.tables .column.table > h4 span {
    font-size: 12px;
  }

  #offer .row.tables .column.table .column.items .row.item i {
    width: 32px;
    font-size: 24px;
  }

  #offer .row.tables .column.table a.row:hover,
  #offer .row.tables .column.table:last-child a.row:hover {
    padding: 8px;
  }

  #offer .row.tables .column.table a.row {
    height: auto;
  }

  #offer .row.tables .column.table .stamp {
    width: 72px;
    height: 72px;
    right: -32px;
    bottom: -32px;
  }
  /* END OFFER */

  /* START WARRANTY */
  #warranty .column.title {
    padding: 0 16px;
  }

  #warranty .column.title p {
    width: 100%; 
  }

  #warranty .row.main {
    flex-direction: column-reverse;
    gap: 32px;
  }

  #warranty .row.main .column.text {
    width: 100%;
    padding: 0 16px;
  }

  #warranty .row.main .column.text span.small {
    font-size: 12px;
  }

  #warranty .row.main .img, 
  #warranty .row.main .img img {
    width: 288px;
    height: 200px;
  }
  /* END WARRANTY */

  /* START ABOUT */
  #about .column.title {
    padding: 0 16px;
  }

  #about .column.title p {
    width: 100%;
  }

  #about .column.content {
    padding: 0 16px 16px;
    gap: 64px;
  }

  #about .column.content .row {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  #about .column.content .row:nth-child(3) {
    flex-direction: column-reverse;
    align-items: center;
  }

  #about .column.content .row .img,
  #about .column.content .row .img img {
    width: 288px;
    height: 288px;
  }

  #about .column.content .row:nth-child(4) .img:last-child {
    position: absolute;
    right: -16px;
    bottom: -100px;
    margin: 0;
  }

  #about .column.content .row:nth-child(4) .img:last-child,
  #about .column.content .row:nth-child(4) .img:last-child img {
    width: 110px;
    height: 110px;
  }

  #about .column.content .row p {
    width: 100%;
  }

  #about .column.content .row:nth-child(3) p {
    text-align: left;
  }

  #about .column.main p.first {
    margin: 32px 0;
    padding: 16px;
    background: linear-gradient(
      107deg, 
      var(--color-primary-1) 0%, 
      var(--color-primary) 100%
    );
  }

  #about .column.main p.last {
    width: 100%;
    padding: 0 16px;
    text-align: center;
  }
  /* END ABOUT */

  /* START FAQ */
  #faq .container {
    padding: 64px 16px;
  }

  #faq .row.main {
    align-items: center;
    gap: 0;
  }

  #faq .row.main .img,
  #faq .row.main .img img {
    display: none;
  }

  #faq .column.faq {
    width: 100%;
  }
  /* END FAQ */

  /* STAR DISCLAIMER */
  #disclaimer .container {
    padding: 32px 16px;
  }
  /* END DISCLAIMER */

  /* START FOOTER */
  footer .container {
    padding: 64px 16px;
  }

    footer .column.main .row.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  footer .column.main .row.main .row {
    width: 100%;
    justify-content: center;
  }

  footer .column.main .row.main .img,
  footer .column.main .row.main .img img {
    width: 136px;
    height: 44px;
  }

  footer .column.main > small {
    text-align: center;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  #header .container > .img,
  #header .container > .img img {
    object-position: center;
  }

  #imagine .container > .img::after {
    background: linear-gradient(
      90deg, 
      var(--color-white) 0%, 
      rgba(243, 228, 243, 0.00) 40%
    ), linear-gradient(
      180deg, 
      var(--color-white) 0%, 
      rgba(243, 228, 243, 0.00) 50%, 
      var(--color-white) 100%
    );
  }

  #reasons .column.lines {
    padding: 0 8px;
  }

  #reasons .row.cards .column.card .img,
  #reasons .row.cards .column.card .img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
  }

  #structure .column.lines {
    padding: 0;
  }

  #structure .row.item .img, 
  #structure .row.item .img img {
    width: 100%;
    object-fit: cover;
  }

  #steps .column.lines {
    padding: 0 32px;
  }

  #with .column.lines {
    padding: 0 16px;
  }

  #with .row.items .column .row.item {
    gap: 16px;
  }

  #know .column.lines {
    padding: 0 16px
  }

  #feedbacks .column.lines {
    padding: 0 24px
  }

  #feedbacks .row.imgs .carousel-item-2 {
    left: calc((343px/2) - (198px/2));
  }

  #feedbacks .row.imgs .carousel-item-1 {
    left: -106px;
  }

  #feedbacks .row.imgs .carousel-item-3 {
    left: 301px;
  }

  #benefits .column.lines {
    padding: 0 16px;
  }

  #benefits .img-right, 
  #benefits .img-right img {
    width: 375px;
    object-fit: cover;
  }

  #learn .column.lines {
    padding: 0 16px;
  }

  #social .container .img,
  #social .container .img img {
    width: 375px;
  }

  #text .img {
    top: auto;
    bottom: -32px;
  }

  #text .img,
  #text .img img {
    width: 100%;
    object-fit: cover;
  }

  #foryou .column.lines {
    padding: 0 16px;
  }

  #foryou .column.items .row.item i {
    font-size: 24px;
  }

  #foryou .container > .img {
    top: 216px;
    left: -72px;
  }

  #foryou .container > .img, 
  #foryou .container > .img img {
    height: 432px;
  }
}

@media (min-width: 377px) and (max-width: 426px) {
  #header .container > .img,
  #header .container > .img img {
    object-position: center;
  }

  #imagine .container > .img::after {
    background: linear-gradient(
      90deg, 
      var(--color-white) 0%, 
      rgba(243, 228, 243, 0.00) 40%
    ), linear-gradient(
      180deg, 
      var(--color-white) 0%, 
      rgba(243, 228, 243, 0.00) 50%, 
      var(--color-white) 100%
    );
  }

  #reasons .row.cards .column.card .img,
  #reasons .row.cards .column.card .img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
  }

  #structure .column.lines {
    padding: 0;
  }

  #structure .column.content {
    width: 343px;
  }

  #structure .row.item .img, 
  #structure .row.item .img img {
    width: 100%;
    object-fit: cover;
  }

  #steps .column.lines {
    padding: 0 8px;
  }

  #steps .row.cards {
    width: 343px;
  }

  #with .column.lines {
    padding: 0 44px;
  }

  #know .column.lines {
    padding: 0 8px
  }

  #feedbacks .row.imgs .carousel-item-2 {
    left: calc((393px/2) - (198px/2));
  }

  #feedbacks .row.imgs .carousel-item-1 {
    left: -106px;
  }

  #feedbacks .row.imgs .carousel-item-3 {
    left: 351px;
  }

  #benefits .row.cards {
    width: 343px;
  }

  #benefits .img-right, 
  #benefits .img-right img {
    width: 425px;
    object-fit: cover;
  }

  #learn .column.lines {
    padding: 0;
  }

  #learn .row.items {
    width: 343px;
  }

  #social .column.content {
    width: 343px;
  }

  #social .container .img,
  #social .container .img img {
    width: 425px;
  }

  #text .img {
    top: auto;
    bottom: -64px;
  }
 
  #text .img,
  #text .img img {
    width: 100%;
    object-fit: cover;
  }

  #problem .column.lines {
    padding: 0 16px;
  }

  #foryou .column.lines {
    padding: 0 32px;
  }

  #foryou .column.items .row.item i {
    font-size: 24px;
  }

  #foryou .container > .img {
    top: 208px;
    left: -72px;
  }

  #foryou .container > .img, 
  #foryou .container > .img img {
    height: 416px;
  }

  #offer .column.lines {
    padding: 0 16px;
  }

  #offer .row.cards {
    width: 343px;
  }

  #warranty .column.lines {
    padding: 0 32px;
  }

  #about .column.lines {
    padding: 0 16px;
  }

  #about .column.content .row:nth-child(1),
  #about .column.content .row:nth-child(4) {
    align-items: flex-start;
  }

  #about .column.content .row:nth-child(3) {
    align-items: flex-end;
  }

  #about .column.content .row:nth-child(3) p {
    text-align: right;
  }

  #faq .column.lines {
    padding: 0 16px;
  }
}