@media (min-width: 767px) and (max-width: 1199px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 33px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 23px;
  }

  h6 {
    font-size: 19px;
  }

  p {
    font-size: 16px;
  }

  small {
    font-size: 13px;
  }

  /* NAV */
  nav .img,
  nav .img img {
    width: 161px;
    height: 51px;
  }

  /* START HEADER */
  #header .container {
    padding: 0 32px;
  }

  #header .row.main {
    padding: 64px 0;
    gap: 20px;
  }
  
  #header .column.main {
    width: 614px;
    gap: 32px;
  }

  #header .column.hero small {
    width: 433px;
  }
  
  #header .row.main .img {
    width: 335px;
    height: 427px;

    position: absolute;
    right: -32px;
    bottom: 0;
  }
  
  #header .row.main .img img {
    width: 335px;
    height: 427px;
    top: auto;
    bottom: -16px;
    left: 32px;
  }
  /* END HEADER */

  /* START WARNING */
  #warning .container {
    padding: 64px 32px;
  }

  #warning .column.text h4,
  #warning .column.text p {
    color: var(--color-tertiary-1);
    text-align: center;
  }
  /* END WARNING */

  /* START IMAGINE */
  #imagine .container {
    padding: 32px;
  }

  #imagine .column.main {
    gap: 32px;
  }

  #imagine .column.main > p {
    width: 524px;
  }

  #imagine .container > .img::after {
    background: linear-gradient(
      90deg, 
      var(--color-white) 3%, 
      rgba(243, 228, 243, 0.05) 100%);
  }

  #imagine .container > .img, 
  #imagine .container > .img img {
    width: 374px;
    height: 596px;
    object-fit: cover;
  }
  /* END IMAGINE */

  /* START REASONS */
  #reasons .column.title p {
    width: 342px;
  }

  #reasons .column.main > p {
    padding: 16px 32px;
  }

  #reasons .column.content > p {
    width: 524px;
  }

  #reasons .row.cards {
    flex-wrap: wrap;
  }

  #reasons .row.cards .column.card {
    width: 342px;
  }

  #reasons .row.cards .column.card .img,
  #reasons .row.cards .column.card .img img {
    width: 342px;
    height: 284px;
  }

  #reasons .column.cta p {
    width: 342px;
  }
  /* END REASONS */

  /* START DOUBT */
  #doubt .column.title p {
    width: 524px;
  }

  #doubt .column.content > p {
    width: 524px;
  }

  #doubt .column.content .row.cards {
    flex-direction: column;
  }

  #doubt .column.content .row.cards > h1 {
    width: 100%;
  }

  #doubt .column.content .row.card {
    width: 342px;
  }

  #doubt .imgs .img-left {
    display: none;
  }

  #doubt .imgs .img-right {
    position: absolute;
    right: 0;
    bottom: 0;
    filter: blur(2px);
  }

  #doubt .imgs .img-right, 
  #doubt .imgs .img-right img {
    width: 555px;
    height: 320px;
  }

  #doubt .column.text {
    width: 524px;
  }
  /* END DOUBT */

  /* START STRUCTURE */
  #structure .column.title p {
    width: 342px;
  }

  #structure .column.text {
    width: 524px;
  }

  #structure .row.items {
    padding: 0 32px;
    gap: 20px;
  }

  #structure .row.items li {
    text-align: center;
    font-size: 16px;
  }

  #structure .column.cta small {
    width: 454px;
  }
  /* END STRUCTURE */
  
  /* START DONE */
  #done .container {
    padding: 64px 32px;
  }

  #done .column.text {
    width: 100%;
  }

  #done .container > .img {
    display: none;
  }
  /* END DONE */

  /* START STEPS */
  #steps .container {
    padding: 64px 32px;
  }

  #steps .column.content p {
    width: 524px;
  }

  #steps .row.cards {
    align-items: stretch;
    gap: 20px;
  }

  #steps .row.cards .column.card {
    width: 251px;
  }

  #steps .imgs .img-left {
    bottom: 0;
  }

  #steps .imgs .img-left::after {
    background: radial-gradient(
      circle, 
      rgba(243, 228, 243, 0.10) 10%, 
      var(--color-white) 100%
    ), linear-gradient(
      90deg, 
      rgba(243, 228, 243, 0.10) 65%, 
      var(--color-white) 100%
    ), linear-gradient(
      0deg, 
      rgba(243, 228, 243, 0.10) 65%, 
      var(--color-white) 100%
    );
  }

  #steps .imgs .img-left,
  #steps .imgs .img-left img,
  #steps .imgs .img-right,
  #steps .imgs .img-right img {
    width: 284px;
    height: 447px;
  }

  #steps .imgs .img-right {
    top: 0;
  }

  #steps .imgs .img-right::after {
    background: radial-gradient(
      circle, 
      rgba(243, 228, 243, 0.10) 15%, 
      var(--color-white) 100%
    ), linear-gradient(
      270deg, 
      rgba(243, 228, 243, 0.10) 35%, 
      var(--color-white) 100%
    );
  }
  /* END STEPS */

  /* START WITH */
  #with .column.title h2 {
    width: 524px;
  }

  #with .column.title p {
    width: 524px;
  }

  #with .row.items {
    flex-direction: column;
    gap: 16px;
  }

  #with .row.items .column .row.item {
    gap: 20px;
  }

  #with .row.items .column .row.item:last-child {
    flex-direction: row-reverse;
  }

  #with .row.items .column.left .row.item:first-child p,
  #with .row.items .column.right .row.item:first-child p {
    text-align: right;
  }

  #with .row.items .column.left p {
    text-align: left;
  }

  #with .row.items .column.right .row {
    flex-direction: row;
  }

  #with .row.items .column .row.item p {
    width: 251px;
  }

  #with .row.items .column .row.item .img,
  #with .row.items .column .row.item .img img {
    width: 251px;
    height: 200px;
  }

  #with .column.difference h6 {
    width: 100%;
  }

  #with .column.difference .row.cards {
    gap: 20px;
  }

  #with .column.difference .row.cards .column.card {
    width: 342px;
  }
  /* END WITH */

  /* START KNOW */
  #know .column.title .lines {
    padding: 0 72px;
  }

  #know .column.title h2 {
    width: 521px;
  }

  #know .column.title p {
    width: 342px;
  }

  #know .column.content .row.cards {
    gap: 20px;
  }

  #know .column.content .row.cards .column.card {
    width: 342px;
  }

  #know .column.content .row.cards .column.card .img,
  #know .column.content .row.cards .column.card .img img {
    width: 342px;
    height: 221px;
  }

  #know .column.content > p {
    width: 524px;
    text-align: center;
  }
  /* END KNOW */

  /* START FEEDBACKS */ 
  #feedbacks .container {
    padding: 64px 32px;
  }

  #feedbacks .row.main {
    flex-direction: column;
    gap: 24px;
  }

  #feedbacks .row.main p {
    width: 524px;
    text-align: center;
  }

  #feedbacks .column.carousel {
    width: 100%;
    height: 379px;
  }

  #feedbacks .column.carousel .imgs {
    height: 379px;
    gap: 20px;
  }

  #feedbacks .row.imgs::after {
    width: 151px;
    right: 64px;
    background: linear-gradient(
      270deg, 
      #efe3e0 5%, 
      var(--color-white) 50%, 
      rgba(194, 208, 226, 0.00) 100%
    );
  }

  #feedbacks .row.imgs::before {
    width: 151px;
    left: 64px;
    background: linear-gradient(
      90deg, 
      var(--color-white) 5%, 
      rgba(194, 208, 226, 0.00) 100%
    );
  }

  #feedbacks .row.imgs .carousel-item {
    width: 151px;
    height: 284px;
  }

  #feedbacks .row.imgs .carousel-item-1 {
    left: 71px;
  }

  #feedbacks .row.imgs .carousel-item-2 {
    width: 202px;
    height: 379px;
    left: 251px;
  }

  #feedbacks .row.imgs .carousel-item-3 {
    left: 482px;
  }

  #feedbacks .row.imgs .carousel-item-1,
  #feedbacks .row.imgs .carousel-item-3 {
    width: 151px;
    height: 284px;
  }

  #feedbacks .row.imgs .carousel-item:nth-child(n+4) {
    left: 489px; 
  }

  #feedbacks .row.pagination {
    padding: 0 52px;
  }

  #feedbacks .container > .img,
  #feedbacks .container > .img img {
    width: 283px;
    height: 357px;
  }
  /* END FEEDBACKS */

  /* START BENEFITS */
  #benefits .container {
    padding: 64px 32px;
  }

  #benefits .column.title p {
    width: 524px;
  }

  #benefits .row.cards {
    gap: 20px;
  }

  #benefits .row.cards .column.card {
    width: 342px;
  }

  #benefits .imgs .img-left::after {
    background: radial-gradient(
      circle, 
      rgba(243, 228, 243, 0.10) 20%, 
      var(--color-white) 100%
    ), linear-gradient(
      90deg, 
      rgba(243, 228, 243, 0.10) 50%, 
      var(--color-white) 100%
    );
  }

  #benefits .imgs .img-right::after {
    background: radial-gradient(
      circle, 
      rgba(243, 228, 243, 0.10) 20%, 
      var(--color-white) 100%
    ), linear-gradient(
      270deg, 
      rgba(243, 228, 243, 0.10) 50%, 
      var(--color-white) 100%
    );
  }

  #benefits .imgs .img-left,
  #benefits .imgs .img-left img,
  #benefits .imgs .img-right,
  #benefits .imgs .img-right img {
    width: 284px;
    height: 386px;
  }
  /* END BENEFITS */

  /* START LEARN */
  #learn .column.title p {
    width: 524px;
  }

  #learn .row.items {
    width: 100%;
    padding: 0 90px 0 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }

  #learn .row.items .row.item {
    width: 342px;
  }

  #learn .container > .img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #learn .container > .img,
  #learn .container > .img img {
    width: 284px;
    height: 574px;
  }
  /* END LEARN */

  /* START SOCIAL */
  #social .column.title p {
    width: 342px;
  }

  #social .column.content {
    width: 100%;
    padding: 0 32px;
  }

  #social .column.content p {
    width: 524px;
    text-align: center;
  }

  #social .column.content .row.card {
    width: 524px;
  }

  #social .container .img::after {
    background: linear-gradient(
      90deg, 
      rgba(243, 228, 243, 0.10) 10%, 
      var(--color-white) 100%
    );
  }

  #social .container .img,
  #social .container .img img {
    width: 284px;
  }
  /* END SOCIAL */

  /* START TEXT */
  #text .container {
    padding: 64px 32px;
  }
  /* END TEXT */

  /* START STATS */
  #stats .container {
    padding: 64px 32px;
  }

  #stats .column.title p {
    width: 524px;
  }

  #stats .column.cards .row.card {
    padding: 16px 8px;
    gap: 20px;
  }

  #stats .column.cards .row.card:nth-child(1) {
    justify-content: flex-end;
    background: linear-gradient(
      270deg, 
      var(--color-primary-1) 60%, 
      rgba(188, 96, 186, 0.00) 100%
    );
  }

  #stats .column.cards .row.card:nth-child(1) .img {
    right: auto;
    left: 0;
  }

  #stats .column.cards .row.card:nth-child(1) .img,
  #stats .column.cards .row.card:nth-child(1) .img img {
    width: 329px;
  } 
  
  #stats .column.cards .row.card:nth-child(2) p {
    width: 100%;
  }

  #stats .column.cards .row.card:nth-child(3) {
    justify-content: flex-end;
    border-radius: 4px;
    background: linear-gradient(
      270deg, 
      var(--color-primary-1) 60%, 
      rgba(188, 96, 186, 0.00) 100%
    );
  }

  #stats .column.cards .row.card:nth-child(3) .img,
  #stats .column.cards .row.card:nth-child(3) .img img {
    width: 327px;
  }

  #stats .column.cards .row.card h1 {
    width: 71px;
  }

  #stats .column.cards .row.card p {
    width: 432px;
  }

  #stats .column.cta small {
    width: 457px;
  }
  /* END STATS */

  /* START PROBLEM */
  #problem .column.title p {
    width: 524px;
  }

  #problem .column.items {
    width: 524px;
  }

  #problem .column.items li {
    font-size: 16px;
  }

  #problem .column.text {
    width: 524px;
  }

  #problem .imgs .img-left {
    position: absolute;
    top: 64px;
    left: 0;
  }

  #problem .imgs .img-left::after {
    background: linear-gradient(
      180deg, 
      rgba(243, 228, 243, 0.10) 45%, 
      var(--color-white) 100%
    ), linear-gradient(
      0deg, 
      rgba(243, 228, 243, 0.10) 45%, 
      var(--color-white) 100%
    ),
      linear-gradient(
      90deg, 
      rgba(243, 228, 243, 0.10) 45%, 
      var(--color-white) 100%
    ),
      radial-gradient(
      circle, 
      rgba(243, 228, 243, 0.10) 0%, 
      var(--color-white) 100%
    );
  }

  #problem .imgs .img-right {
    top: auto;
    right: 0;
    bottom: 0;
  }

  #problem .imgs .img-right::after {
    background: linear-gradient(
      180deg, 
      rgba(243, 228, 243, 0.10) 45%, 
      var(--color-white) 100%
    ), linear-gradient(
      0deg, 
      rgba(243, 228, 243, 0.10) 45%, 
      var(--color-white) 100%
    ),
      linear-gradient(
      270deg, 
      rgba(243, 228, 243, 0.10) 45%, 
      var(--color-white) 100%
    ),
      radial-gradient(
      circle, 
      rgba(243, 228, 243, 0.10) 5%, 
      var(--color-white) 100%
    );
  }

  #problem .imgs .img-left, 
  #problem .imgs .img-left img {
    width: 193px;
    height: 310px;
  }

  #problem .imgs .img-right, 
  #problem .imgs .img-right img {
    width: 282px;
    height: 386px;
  }
  /* END PROBLEM */

  /* START FORYOU */
  #foryou .column.title p {
    width: 524px;
  }

  #foryou .column.items {
    width: 524px;
    margin: 0 32px 0 auto;
  }

  #foryou .column.cards .row.cards {
    flex-wrap: wrap;
    gap: 20px;
  }

  #foryou .column.cards .row.card {
    width: 342px;
    gap: 20px;
  }

  #foryou .container > .img {
    position: absolute;
    top: auto;
    bottom: 292px;
    left: 0;
    z-index: -1;
  } 

  #foryou .container > .img, 
  #foryou .container > .img img {
    width: 282px;
    height: 423px;
  }
  /* END FORYOU */

  /* START OFFER */
  #offer .row.cards {
    width: 100%;
    justify-content: center;
    gap: 20px;
  }

  #offer .row.cards .row.card {
    width: 342px;
  }

  #offer .row.cards .row.card h1 {
    top: -40px;
    left: -8px;
  }

  #offer .column.text p:last-child {
    width: 524px;
  }

  #offer .row.tables {
    width: 100%;
    padding: 16px 32px 64px;
    justify-content: flex-start;
    gap: 20px;
    overflow: scroll;
  }

  #offer .row.tables .column.table {
    min-width: 524px;
  }

  #offer .row.tables .column.table .row.name {
    gap: 20px;
  }

  #offer .row.tables .column.table .row.name .img, 
  #offer .row.tables .column.table .row.name .img img {
    width: 161px;
    height: 51px;
  }

  #offer .row.tables .column.table:last-child .row.name .img, 
  #offer .row.tables .column.table:last-child .row.name .img img {
    mix-blend-mode: luminosity;
  }

  #offer .row.tables .column.table .row.name h4 {
    padding: 0 0 0 20px;
  }

  #offer .row.tables .column.table > h4 span {
    font-size: 13px;
  }

  #offer .row.tables .column.table .stamp {
    width: 72px;
    height: 72px;
    right: -32px;
    bottom: -32px;
  }
  /* END OFFER */

  /* START WARRANTY */
  #warranty .column.title p {
    width: 524px;
  }

  #warranty .row.main {
    gap: 20px;
  }

  #warranty .row.main .column.text {
    width: 433px;
  }

  #warranty .row.main .column.text span.small {
    font-size: 13px;
  }

  #warranty .row.main .img, 
  #warranty .row.main .img img {
    width: 251px;
    height: 192px;
  }
  /* END WARRANTY */

  /* START ABOUT */
  #about .column.title p {
    width: 524px;
  }

  #about .column.content {
    padding: 0 32px;
  }

  #about .column.content .row {
    gap: 20px;
  }

  #about .column.content .row .img,
  #about .column.content .row .img img {
    width: 252px;
    height: 252px;
  }

  #about .column.content .row:nth-child(4) .img:last-child {
    position: absolute;
    bottom: -64px;
    right: 0;
  }

  #about .column.content .row:nth-child(4) .img:last-child,
  #about .column.content .row:nth-child(4) .img:last-child img {
    width: 147px;
    height: 147px;
  }

  #about .column.main p.first {
    padding: 16px 32px;
  }

  #about .column.main p.last {
    width: 100%;
    padding: 0 32px;
  }
  /* END ABOUT */

  /* START FAQ */
  #faq .container {
    padding: 64px 0 0;
  }

  #faq .row.main {
    align-items: flex-end;
    gap: 20px;
  }

  #faq .row.main .img,
  #faq .row.main .img img {
    width: 284px;
    height: 811px;
  }

  #faq .column.faq {
    width: 432px;
  }

  #faq .column.faq .column.q-a .row.question i {
    color: var(--color-primary);
    font-size: 24px;
  }
  /* END FAQ */

  /* STAR DISCLAIMER */
  #disclaimer .container {
    padding: 32px 32px;
  }
  /* END DISCLAIMER */

  /* START FOOTER */
  footer .container {
    padding: 64px 32px;
  }

  footer .column.main .row.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  footer .column.main .row.main .row {
    width: 100%;
    justify-content: center;
  }

  footer .column.main .row.main .img,
  footer .column.main .row.main .img img {
    width: 161px;
    height: 51px;
  }
}